<swiper-container class="mySwiper" centered-slides="false" space-between="30" pagination="false"
    pagination-type="fraction" navigation="false" autoplay='{"delay": 0, "disableOnInteraction": false}' speed="3000"
    loop="true" free-mode="true" free-mode-momentum="false" autoplay.delay=0 slides-per-view="1" breakpoints='{
    "640": { "slidesPerView": 2 },
    "768": { "slidesPerView": 3 },
    "1024": { "slidesPerView": 5 },
    "1440": { "slidesPerView": 7 }
  }'>
    <swiper-slide class="menu">Online doctor booking</swiper-slide>
    <swiper-slide class="menu">Doctor appointment system</swiper-slide>
    <swiper-slide class="menu">Find a doctor online</swiper-slide>
    <swiper-slide class="menu">Virtual healthcare</swiper-slide>
    <swiper-slide class="menu">Medical consultation website</swiper-slide>
    <swiper-slide class="menu">Book doctor anytime</swiper-slide>
    <swiper-slide class="menu">Patient doctor connection</swiper-slide>
    <swiper-slide class="menu">Online health service</swiper-slide>
    <swiper-slide class="menu">Easy doctor booking</swiper-slide>
    <swiper-slide class="menu">Book a specialist online</swiper-slide>
    <swiper-slide class="menu">Online medical appointment</swiper-slide>
</swiper-container>