<section>
    <form>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="firstName" placeholder="Gamal">
            <label for="firstName">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="lastName" placeholder="Hassan">
            <label for="lastName">Last Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div>
            <a routerLink="/login">
                are you have an account?
            </a>
        </div>
        <button type="submit">Register</button>
    </form>
</section>