<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4 logo">
                <div>
                    <img src="/images/logo2.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 quick-linls">
                <div>
                    <h2>Quick Links</h2>
                    <ul>
                        <a routerLink="/home">
                            <li>Home</li>
                        </a>
                        <a routerLink="">
                            <li>About</li>
                        </a>
                        <a routerLink="">
                            <li>Contact us</li>
                        </a>
                        <a routerLink="/login">
                            <li>Login</li>
                        </a>
                        <a routerLink="/register">
                            <li>Register</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4"></div>
        </div>
    </div>
</footer>