<div class="container">
    <div class="title text-center">
        <h2>Why <span>My</span>Doctor</h2>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12 col-lg-4 d-flex gap-4 flex-column">
            <div class="feature">
                <div class="icon">
                    <i class="fa-solid fa-phone-volume"></i>
                </div>
                <div class="message">
                    <p>MyDoctor connects patients with trusted doctors quickly and easily.</p>
                </div>
            </div>
            <div class="feature">
                <div class="icon">
                    <i class="fa-solid fa-hourglass-start"></i>
                </div>
                <div class="message">
                    <p>We provide a seamless booking experience designed to save your time and effort.</p>
                </div>
            </div>
            <div class="feature">
                <div class="icon">
                    <i class="fa-regular fa-id-card"></i>
                </div>
                <div class="message">
                    <p>Verified Doctors, All doctors are licensed and verified to ensure quality healthcare.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 d-flex justify-content-center align-items-end mb-5 position-relative">
            <div class="image text-center">
                <img src="/images/imgi_46_doctor-image-224x300.png" alt="">
            </div>
        </div>

        <div class="col-sm-12 col-lg-4 d-flex gap-4 flex-column">
            <div class="feature">
                <div class="icon">
                    <i class="fa-solid fa-alarm-clock"></i>
                </div>
                <div class="message">
                    <p>Easy Booking, Book appointments anytime, anywhere, in just a few clicks.</p>
                </div>
            </div>
            <div class="feature">
                <div class="icon">
                    <i class="fa-solid fa-comment-dots"></i>
                </div>
                <div class="message">
                    <p>Patient Reviews, Read real feedback from patients before booking your doctor.</p>
                </div>
            </div>
            <div class="feature">
                <div class="icon">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="message">
                    <p>Secure and Private, Your personal and medical data are always protected</p>
                </div>
            </div>
        </div>
    </div>
</div>