<section>
    <div class="titile text-center mb-1">
        <h2><span>Tips</span> <span> for</span> <span> Staying</span> <span> Healthy</span></h2>
    </div>
    <div class="col-lg-4 advice d-flex justify-content-center align-items-center">
        <div class="scroll">
            <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Eat a Balanced Diet</h3>
                    <p>Include fruits, vegetables, whole grains, and lean proteins in your daily meals.</p>
                </swiper-slide>
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Stay Hydrated</h3>
                    <p>Drink at least 7–8 glasses of water every day to keep your body active and refreshed.</p>
                </swiper-slide>
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Exercise Regularly</h3>
                    <p>Aim for at least 30 minutes of physical activity, 4–5 times a week.</p>
                </swiper-slide>
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Get Enough Sleep</h3>
                    <p>Try to sleep 7–8 hours every night to recharge your body and mind.</p>
                </swiper-slide>
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Avoid Smoking</h3>
                    <p>These habits can harm your health in the long run — choose a healthier lifestyle</p>
                </swiper-slide>
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Eat Balanced Meals</h3>
                    <p>Include proteins, healthy fats, and whole grains</p>
                </swiper-slide>
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Listen to Your Body</h3>
                    <p>Rest when you feel tired to avoid burnout</p>
                </swiper-slide>
                <swiper-slide class="d-flex flex-column p-4 text-center">
                    <h3 class="mb-4">Train Your Mind</h3>
                    <p>Read, learn, or solve puzzles to keep your brain sharp</p>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>
</section>